<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Dobrodošli u našu prodaju automobila</h1>
                <p>
                    Dobrodošli u našu prodaju automobila, gdje pružamo vozila vrhunske kvalitete i izuzetnu uslugu. 
                </p>
            </div>
            <div class="col-md-4">
                <img width="300" src="assets/img/pngegg.png" alt="O Heroju">
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Naše usluge</h1>
            <p>
                Naša vozila ne samo da su vrhunske kvalitete, već nudimo i širok spektar usluga kako bismo osigurali da vaše iskustvo s nama bude nezaboravno. Bez obzira trebate li vozilo za kupovinu, održavanje ili financiranje, mi smo tu da vam pružimo sve što je potrebno. Naš tim stručnjaka posvećen je vašem zadovoljstvu, a naše usluge su dizajnirane kako bi vaše putovanje bilo bezbrižno i udobno.            </p>
        </div>
    </div>
    <div class="row">

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fa fa-car fa-lg"></i></div>
            <h2 class="h5 mt-4 text-center">Prodaja vozila</h2>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fas fa-tools"></i></div>
            <h2 class="h5 mt-4 text-center">Održavanje & popravci</h2>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fa fa-dollar-sign"></i></div>
            <h2 class="h5 mt-4 text-center">Opcije finansiranja</h2>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fa fa-calendar"></i></div>
            <h2 class="h5 mt-4 text-center">Test vožnje</h2>
        </div>
    </div>
</div>
</section>
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Naši brendovi</h1>
                <p>
                    Naši brendovi predstavljaju vrhunsku kombinaciju pouzdanosti, performansi i stila. Bez obzira da li preferirate luksuz, sportski duh ili ekonomičnost, naša paleta brendova nudi širok izbor opcija koje odgovaraju svakom ukusu i potrebama. Svojim kvalitetom i inovativnošću, naši brendovi postavljaju standarde u industriji i pružaju vam povjerenje da izaberete najbolje za sebe.                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                <!--Carousel Wrapper-->
                <div class="col">
                    <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                        <!--Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/audi.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/bmw.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/peugeot.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/vw.png" alt="Brend Logo"></a>
                                    </div>
                                </div>
                            </div>
                            <!--End First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/toyota.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/ford.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/citroen.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/opel.png" alt="Brend Logo"></a>
                                    </div>
                                </div>
                            </div>
                            <!--End Second slide-->

                            <!--Third slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brend Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-5">
                                        <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brend Logo"></a>
                                    </div>
                                </div>
                            </div>
                            <!--End Third slide-->

                        </div>
                        <!--End Slides-->
                    </div>
                </div>
                <!--End Carousel Wrapper-->

                <!--Controls-->
                <div class="col-1 align-self-center">
                    <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                        <i class="text-light fas fa-chevron-right"></i>
                    </a>
                </div>
                <!--End Controls-->
            </div>
        </div>
    </div>
</div>
</section>